__pycache__/
.pycache/
*.pyc
*.pyo
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
MUJOCO_LOG.TXT
*.egg-info/
build/
dist/
.venv/
.env
wandb/

artifacts/*
data/*
!artifacts/.gitkeep
!data/.gitkeep

# Logging and Tracking
logs/*
!logs/README.md
mlruns/
